{% extends 'principal/base.html' %}
{% block content %}  
    <div class="max-w-5xl mx-auto">
        <h1 class="text-2xl font-bold mb-4">Student Timetable</h1>
        <table class="w-full border border-gray-300">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border p-2">Period</th>
                    <th class="border p-2">Monday</th>
                    <th class="border p-2">Tuesday</th>
                    <th class="border p-2">Wednesday</th>
                    <th class="border p-2">Thursday</th>
                    <th class="border p-2">Friday</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr class="border">
                    <td class="border p-2">1</td>
                    <td class="border p-2">Math</td>
                    <td class="border p-2">Science</td>
                    <td class="border p-2">History</td>
                    <td class="border p-2">English</td>
                    <td class="border p-2">Math</td>
                </tr>
                <tr class="border">
                    <td class="border p-2">2</td>
                    <td class="border p-2">Science</td>
                    <td class="border p-2">Math</td>
                    <td class="border p-2">English</td>
                    <td class="border p-2">Math</td>
                    <td class="border p-2">History</td>
                </tr>           
                <tr class="border">
                    <td class="border p-2">3</td>
                    <td class="border p-2">History</td>
                    <td class="border p-2">Science</td>
                    <td class="border p-2">Math</td>
                    <td class="border p-2">English</td>
                    <td class="border p-2">Physical Ed.</td>
                </tr>            
                <tr class="border">
                    <td class="border p-2">4</td>
                    <td class="border p-2">Science</td>
                    <td class="border p-2">English</td>
                    <td class="border p-2">History</td>
                    <td class="border p-2">Math</td>
                    <td class="border p-2">History</td>
                </tr>            
                <tr class="border">
                    <td class="border p-2">5</td>
                    <td class="border p-2">History</td>
                    <td class="border p-2">English</td>
                    <td class="border p-2">Science</td>
                    <td class="border p-2">Math</td>
                    <td class="border p-2">Science</td>
                </tr>            
                <tr class="border">
                    <td class="border p-2">6</td>
                    <td class="border p-2">Math</td>
                    <td class="border p-2">Science</td>
                    <td class="border p-2">History</td>
                    <td class="border p-2">Science</td>
                    <td class="border p-2">Physical Edu</td>
                </tr>            
                <tr class="border">
                    <td class="border p-2">7</td>
                    <td class="border p-2">English</td>
                    <td class="border p-2">History</td>
                    <td class="border p-2">Science</td>
                    <td class="border p-2">Math</td>
                    <td class="border p-2">History</td>
                </tr>            
            </tbody>
        </table>
    </div>
{% endblock content %} 