{% extends 'teacher/base.html' %}
{% block content %}
    <div class="container mx-auto p-6">
        <div class="flex row mb-4 justify-evenly items-center">
            <div class="mb-4">
                <h1 class="text-2xl font-semibold mb-4">Student List</h1>
            </div>
            <div class="mb-4">
                <a href="{% url 'student_form' %}" class="bg-green-500 hover:bg-green-600 text-white font-semibold px-4 py-4 rounded">Add Students</a>
            </div>
        </div>
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr class="bg-gray-100">
                    <th class="py-3 px-4 text-left">ID</th>
                    <th class="py-3 px-4 text-left">Name</th>
                    <th class="py-3 px-4 text-left">Edit</th>
                    <th class="py-3 px-4 text-left">Delete</th>
                </tr>
            </thead>  
            <tbody>
                {% for s in students %}
                    <tr class="border-t border-gray-300">
                        <td class="py-3 px-4">{{ s.name }}</td>
                        <td class="py-3 px-4">
                            <a href="{% url "/student_edit/{{ s.admin.id }}" %}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff9300" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                    <path d="M13.5 6.5l4 4" />
                                </svg>
                            </a>
                        </td>
                        <td class="py-3 px-4">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff9300" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M4 7l16 0" />
                                    <path d="M10 11l0 6" />
                                    <path d="M14 11l0 6" />
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}                
            </tbody>
        </table>
    </div>    
{% endblock content %}

    
        