{% extends 'teacher/base.html' %}
{% block content %}
    <div class="container mx-auto px-12 py-12">
        <div class="mx-auto bg-white rounded-lg shadow-md">
            <div class="p-4">
                <h2 class="text-2xl font-bold mb-4">Student Details</h2>
                <img src="./abstract.jpg" alt="Student Photo" class="w-32 h-32 rounded-full mx-auto mb-4">
                <div class="grid grid-cols-2 gap-4 mb-4 mt-[4%] ml-[15%]">
                    <div class="mb-2">
                        <span class="font-bold">Name:</span>{{ student.name }}
                    </div>
                    <div class="mb-2">
                        <span class="font-bold">Date of Birth:</span>{{ student.dob }}
                    </div>
                </div>    
                <div class="grid grid-cols-2 gap-4 mb-4 ml-[15%]">
                    <div class="mb-2">
                        <span class="font-bold">Admission Number:</span>{{ student.admission_no }}
                    </div>
                    <div class="mb-2">
                        <span class="font-bold">Gender:</span>{{ student.gender }}
                    </div>
                </div>    
                <div class="grid grid-cols-2 gap-4 mb-4 ml-[15%]">
                    <div class="mb-2">
                        <span class="font-bold">Class:</span>{{ student.std }}
                    </div>
                    <div class="mb-2">
                        <span class="font-bold">Division:</span>{{ student.division }}
                    </div>
                </div>    
                <div class="grid grid-cols-2 gap-4 mb-4 ml-[15%]">
                    <div class="mb-2">
                        <span class="font-bold">Class Teacher:</span>{{ student.teacher }}
                    </div>
                    <div class="mb-2">
                        <span class="font-bold">Address:</span>{{ student.address }}
                    </div>
                </div>    
                <div class="grid grid-cols-2 gap-4 mb-4 ml-[15%]">
                    <div class="mb-2">
                        <span class="font-bold">Father's Name:</span>{{ student.f_name }}
                    </div>
                    <div class="mb-2">
                        <span class="font-bold">Father's Occupation:</span>{{ student.f_occupation }}
                    </div>
                </div>    
                <div class="grid grid-cols-2 gap-4 mb-4 ml-[15%]">
                    <div class="mb-2">
                        <span class="font-bold">Father's Phone Number:</span>{{ student.f_number }}
                    </div>
                    <div class="mb-2">
                        <span class="font-bold">Mother's Name:</span>{{ student.m_name }}
                    </div>
                </div>    
                <div class="grid grid-cols-2 gap-4 mb-4 ml-[15%]">
                    <div class="mb-2">
                        <span class="font-bold">Mother's Occupation:</span>{{ student.m_occupation }}
                    </div>
                    <div class="mb-2">
                        <span class="font-bold">Guardian's Name:</span>{{ student.guardian }}
                    </div>
                </div> 
                <div class="flex row mb-4 mt-6 justify-evenly items-center">
                    <a href="" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-10 py-4 rounded">Edit</a>
                    <a href="" class="bg-red-500 hover:bg-red-600 text-white font-semibold px-8 py-4 rounded">Delete</a>
                    <a href="" class="bg-green-500 hover:bg-green-600 text-white font-semibold px-4 py-4 rounded">Back to List</a>
                </div> 
            </div>
        </div>
    </div>
{% endblock content %}
        
{% comment %} {% url 'student_update' student.pk %}{% url 'student_delete' student.pk %}{% url 'student_list' %} {% endcomment %}